<form id='login' action='vertify.php' method='POST' accept-charset='UTF-8'>
  <fieldset style="width: 10%; margin: 10% auto 0 auto;">
    <fieldset >
      <legend>LOG-IN HERE</legend>
      <input type='hidden' name='submitted' id='submitted' value='1'/>

      <label for='username' >Username:</label>
      <input type='text' name='username' id='username'  maxlength="50" />
      <br />
      <label for='password' >Password :</label>
      <input type='password' name='password' id='password' maxlength="50" />
      <input type='submit' name='Submit' value='Submit' />
    </fieldset>
</form>
