<form id='login' action='vertify.php' method='POST' accept-charset='UTF-8'>
<fieldset style="width:30%"><legend>LOG-IN HERE</legend>
<fieldset >
<legend>Login</legend>
<input type='hidden' name='submitted' id='submitted' value='1'/>

<label for='username' >Username:</label>
<input type='text' name='username' id='username'  maxlength="50" />

<label for='password' >Password:</label>
<input type='password' name='password' id='password' maxlength="50" />

<input type='submit' name='Submit' value='Submit' />

</fieldset>
</form>
